body {
    /*background-image: url(../img/homepage.jpg);*/
}

.container {
    width: 980px;
    margin: auto;
    /*border: solid 1px;*/
}

#branding {
    height: 85px;
}

#branding .middle {
    margin-top: 26px
}

#logo {
    width: 192px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #3f8252;
    margin-top: 12px;
}

.uppercase {
    text-transform: uppercase;
}

.left {
    float: left;
}

.right {
    float: right;
}
#branding .bbb {
    margin-left: 366px;
}

#branding .availability {
    margin-left: 50px;
    text-align: right;
}

#branding .facebook-icon {
    margin-left: 12px;
}

#nav-bar {
    height: 50px;
    width: 100%;
    background-color: #3f8252;
    line-height: 50px;
    color: white;
}

#nav-bar ul {
    margin: 0;
    padding: 0;
    font-family: OpenSans, sans-serif;
}
#nav-bar ul li {
    list-style: none;
    float: left;
    margin-right: 40px;
    margin-left: 40px;
}

#nav-bar ul li:first-child {
    margin-left: 153px;
}

#header {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

#header h1 {
    color: #5d5d5d;
    margin-bottom: 0;
    }

#header .sub-text {
    font-size: 14px;
    color: #a5a5a5;
}

#header .statement {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #3f8252;
    margin-top: 20px;
    letter-spacing: 6px;
}

.video {
    width: 550px;
    height: 280px;
    background-color: #4a5b66;
    margin: 40px auto 40px auto;
    border-radius: 5px;
    position: relative;
}

.video .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    margin-top: 90px;
    margin-left: 225px;
    opacity: 0.5;
}

.video .circle img {
    margin-top: 15px;
    margin-left: 34px;
}

#facebook-bar {
    height: 50px;
    background: -webkit-radial-gradient(#506ba1, #3f507d);
    background: -o-radial-gradient(#506ba1, #3f507d);
    background: -moz-radial-gradient(#506ba1, #3f507d);
    background: radial-gradient(#506ba1, #3f507d);
    border-radius: 5px;
}

#facebook-bar .facebook-logo.left {
    margin-left: 20px;
    margin-top: 10px;
}

#facebook-bar .facebook-logo.right {
    margin-right: 20px;
    margin-top: 10px;
}


#facebook-bar .like-us {
    font-family: Helvetica, sans-serif;
    margin-top: 16px;
    margin-left: 175px;
    color: white;
}

#facebook-bar .like-us span:first-child {
    font-weight: bold;
}

#facebook-bar .facebook-button img {
    margin-top: 13px;
    margin-left: 15px;
}

#facebook-bar .facebook-likes {
    margin-top: 16px;
    margin-left: 5px;
    color: white;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}

#content {
    margin-top: 40px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    overflow: hidden;
}

#content p {
    margin: 0;
    line-height: 170%;
}

.content-left {
    width: 516px;
}

.content-left p:first-child {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.content-right ul {
    margin: 0;
}

.content-right ul li {
    margin-bottom: .3em;
}

.table {
    overflow: hidden;
    margin-top: 40px;
}

.table .row-header.blue{
    height: 310px;
    width: 25px;
    background-color: #2980b9;
}

.table .vertical-text {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    letter-spacing: 2px;
}

.table .row-header.blue .vertical-text {
    position: relative;
    top: 240px;
}

.table .row-header.red {
    height: 170px;
    width: 25px;
    background-color: #c0392b;
}

.table .row-header.red .vertical-text {
    position: relative;
    top: 100px;
}

.table table {
    width: 955px;
    border-spacing: 3px;
    background-color: #f7f7f7;
}

.table table th {
    height: 65px;
    background-color: #7f8c8d;
    color: white;
    font-family: Open Sans, sans-serif;
    font-size: 22px;
    letter-spacing: 9px;
}

.table table td {
    font-family: Open Sans, sans-serif;
    padding-left: 30px;
    height: 40px;
    border-bottom: 1px solid #e9e9e9;
}