body {
    /*background-image: url(../url/homepage.jpg);*/
}

.container {
    width: 980px;
    margin: auto;
    /*border: solid 1px;*/
}

#branding {
    height: 85px;
}

#branding .middle {
    margin-top: 26px
}

.logo {
    width: 192px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #3f8252;
    margin-top: 12px;
}

.uppercase {
    text-transform: uppercase;
}

.left {
    float:left;
}

.bbb {
    margin-left: 366px;
}

.availability {
    margin-left: 50px;
    text-align: right;
}

.facebook-icon {
    margin-left: 12px;
}

#nav-bar {
    height: 50px;
    width: 100%;
    background-color: #3f8252;
    line-height: 50px;
    color: white;
}

#nav-bar ul {
    margin: 0;
    padding: 0;
    font-family: OpenSans, sans-serif;
}
#nav-bar ul li {
    list-style: none;
    float: left;
    margin-right: 40px;
    margin-left: 40px;
}

#nav-bar ul li:first-child {
    margin-left: 153px;
}

.header {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.header h1 {
    color: #5d5d5d;
    margin-bottom: 0;
    }

.header .sub-text {
    font-size: 14px;
    color: #a5a5a5;
}

.header .statement {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #3f8252;
    padding-top: 20px;
    letter-spacing: 6px;
}